<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802307786231-92sshhi9klt4pcptbgf476d81cuepqmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802307786231-92sshhi9klt4pcptbgf476d81cuepqmj</string>
	<key>API_KEY</key>
	<string>AIzaSyDVNbgda963CBKN4j5tLjBj729INHE8IgY</string>
	<key>GCM_SENDER_ID</key>
	<string>802307786231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A00189239.App06-TODO-Firebase</string>
	<key>PROJECT_ID</key>
	<string>tc2007b-a8b40</string>
	<key>STORAGE_BUCKET</key>
	<string>tc2007b-a8b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802307786231:ios:f7886313f32aea8859daf2</string>
</dict>
</plist>